<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:tiles="http://www.thymeleaf.org">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Centro Formazione</title>

        <!-- Bootstrap core CSS -->
        <link th:href="@{vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

        <!-- Custom fonts for this template -->
        <link th:href="@{vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
        <link th:href="@{vendor/simple-line-icons/css/simple-line-icons.css}" rel="stylesheet" type="text/css">
        <link th:href="@{https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic}" rel="stylesheet" type="text/css">

        <!-- Custom styles for this template -->
        <link th:href="@{css/landing-page.min.css}" rel="stylesheet">
        <link th:href="@{css/stile.css}" rel="stylesheet">

    </head>

    <body class="bg-light">

        <!-- Navigation -->
        <nav class="navbar navbar-light bg-light static-top">
            <div class="container">
                <a class="navbar-brand" href="#">Start Bootstrap</a>
                <a class="btn btn-primary" href="#">Log Out</a>
            </div>
        </nav>

        <!-- Masthead -->
        <header class="container masthead text-white centro-header">
            <div class="container">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-xl-9 mx-auto">
                            <h1 class="mb-5">Centro Formazione</h1>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="container centro-body effect6">
            <section class="features-icons text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                                <div class="features-icons-icon d-flex" href="#attivita">
                                    <i class="icon-layers m-auto text-primary"></i>
                                </div>
                                <h3>Attività</h3>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                                <div class="features-icons-icon d-flex">
                                    <i class="icon-people m-auto text-primary"></i>
                                </div>
                                <h3>Allievi</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </section>  
        </div>
        <!-- Icons Grid -->


        <div class="container centro-attivita effect6" id="attivita">
            <h1 class="titolo">Attività</h1>

            <table class="table">
<!--                <caption>List of users</caption>-->
                <thead>
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Data</th>
                        <th scope="col">Iscritti</th>
                        <!--                        <th scope="col"></th>-->
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-success">
                        <th scope="row">Attività 1</th>
                        <td>20/02/2018</td>
                        <td>43</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                    </tr>
                </tbody>
            </table>
        </div>


        <!-- Footer -->
        <footer class="footer bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
                        <ul class="list-inline mb-2">
                            <li class="list-inline-item">
                                <a href="./infoMie.html">About</a>
                            </li>
                            <li class="list-inline-item">&sdot;</li>
                            <li class="list-inline-item">

                                <a href="infoMie.html">Contact</a>
                            </li>
                        </ul>
                        <p class="text-muted small mb-4 mb-lg-0">&copy; Progetto SIW 2018</p>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Bootstrap core JavaScript -->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    </body>

</html>
