<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:tiles="http://www.thymeleaf.org">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Allievi</title>

        <!-- Bootstrap core CSS -->
        <link th:href="@{vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

        <!-- Custom fonts for this template -->
        <link th:href="@{vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
        <link th:href="@{vendor/simple-line-icons/css/simple-line-icons.css}" rel="stylesheet" type="text/css">
        <link th:href="@{https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic}" rel="stylesheet" type="text/css">

        <!-- Custom styles for this template -->
        <link th:href="@{css/landing-page.min.css}" rel="stylesheet">
        <link th:href="@{css/stile.css}" rel="stylesheet">

    </head>

    <body class="bg-light">

        <!-- Navigation -->
        <nav class="navbar navbar-light bg-light static-top">
            <div class="container">
                <a class="navbar-brand" href="#">Start Bootstrap</a>
                <a class="btn btn-primary" href="#">Log Out</a>
            </div>
        </nav>




        <div class="container centro-attivita effect6" id="attivita">
            <div class="row">
                <div class="col-lg-6">
                    <h3 class="titolo">Allievi</h3>
                </div>
                <div class="col-lg-6">
                    <div class="features-icons-item mx-auto bottone-lista-hdr">
                        <div class="btn btn-primary features-icons-icon">
                            <i class="icon-user-follow"></i>
                        </div>
                        
                    </div>
                </div>
            </div>

            <table class="table">
                <caption>0-3 Allievi visualizzati</caption>
                <thead>
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Cognome</th>
                        <th scope="col">Iscritti</th>
                        <th scope="col" class="col-piccola">Aggiungi a attività</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Gino</th>
                        <td>Gabbietto</td>
                        <td>43</td>
                        <td>
                            <div class="btn btn-primary">add</div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Jacob</th>
                        <td>Thornton</td>
                        <td>2</td>
                        <td>
                            <div class="btn btn-primary">add</div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Larry</th>
                        <td>the Bird</td>
                        <td>3</td>
                        <td>
                            <div class="btn btn-primary">add</div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="row">
                <div class="col-lg-10"></div>
                <div class="col-lg-1">
                    <div class="btn btn-primary">avanti</div>
                </div>
                <div class="col-lg-1"></div>
            </div>
        </div>

        <!-- Footer -->
        <footer class="footer bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
                        <ul class="list-inline mb-2">
                            <li class="list-inline-item">
                                <a href="./infoMie.html">About</a>
                            </li>
                            <li class="list-inline-item">&sdot;</li>
                            <li class="list-inline-item">

                                <a href="infoMie.html">Contact</a>
                            </li>
                        </ul>
                        <p class="text-muted small mb-4 mb-lg-0">&copy; Progetto SIW 2018</p>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Bootstrap core JavaScript -->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    </body>

</html>
