<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Saluta</title>
</head>
<body>
Ciao
<div th:text="${tizioDaSalutare.nome}"></div>
</body>
</html>